h1 {
  color: #2a2d1e;
  text-align: center;
  margin-top: 40px;
  font-family: "Capriola", sans-serif;
}

h2 {
  font-family: "Capriola", sans-serif;
  color: #2a2d1e;
}

h3 {
  font-family: "Lexend", sans-serif;
  color: #2a2d1e;
}

p {
  color: #2a2d1e;
  font-family: "Lexend", sans-serif;
}

body {
  min-height: 100vh;
}

/*
--- FONTS ---
font-family: 'Capriola', sans-serif;
font-family: 'Lexend', sans-serif;
*/

.prices-img {
  width: 218px;
  height: 184px;
}

.prices-info {
  display: flex;
}

.prices-info-container {
  display: flex;
  flex-direction: column;
}
