h1 {
  color: #2a2d1e;
  text-align: center;
  margin-top: 40px;
  font-family: "Capriola", sans-serif;
}

h2 {
  font-family: "Capriola", sans-serif;
  color: #2a2d1e;
}

h3 {
  font-family: "Lexend", sans-serif;
  color: #2a2d1e;
}

p {
  color: #2a2d1e;
  font-family: "Lexend", sans-serif;
}

body {
  min-height: 100vh;
}

/*
--- FONTS ---
font-family: 'Capriola', sans-serif;
font-family: 'Lexend', sans-serif;
*/

.prices-container {
  margin-top: 50px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.prices-img {
  width: 300px;
  height: 184px;
  border-radius: 5px;
}

.prices-info {
  flex-direction: column;
  width: 300px;
  text-align: center;
}

.prices-info-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

span {
  margin-left: 20px;
}

@media (min-width: 700px) {
  .prices-container {
    flex-direction: row;
  }
}
