h1 {
  color: #2a2d1e;
  text-align: center;
  margin-top: 40px;
  font-family: "Capriola", sans-serif;
}

p {
  color: #2a2d1e;
  font-family: "Lexend", sans-serif;
}

body {
  min-height: 100vh;
}

/*
--- FONTS ---
font-family: 'Capriola', sans-serif;
font-family: 'Lexend', sans-serif;
*/

.prices-container {
  margin-top: 50px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.prices-img {
  width: 300px;
  height: 184px;
  border-radius: 5px;
}

.prices-info {
  flex-direction: column;
  width: 300px;
  /* text-align: center; */
}

.prices-info-container {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 25px;
}

span {
  float: right;
}

.h2 {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: underline;
}

.h3 {
  gap: 10px;
  font-size: 1.1rem;
  text-decoration: underline;
  font-weight: 500;
  margin-top: 30px;
}

@media (max-width: 1000px) {
  .prices-info-container {
    flex-direction: column;
  }
}
